body {
    background-color:rgb(156, 72, 100);
    color:bisque;
    font-family: Arial;
    margin: 0px; 
}
main {
    color: gold;
    font-family: Arial;
    margin: 10px;
}
header {
    background-color:rgba(157, 56, 56, 0.852);
    color: bisque;
    padding: 20px;
    font-size: 20pt; 
    text-align: center
}
footer {
    background-color:rgba(157, 56, 56, 0.852);
    color: bisque;
    padding: 20px;
    font-size: 15pt;
    font-style: italic; 
    text-align: right
}
a {
    color: rgb(237, 46, 199);
    text-decoration: none
}
a:link {
    color: rgb(127, 250, 119);
    text-decoration:overline;
}
a:visited {
    color: rgb(57, 57, 219);
    text-decoration: line-through;
}
a:hover {
    color: rgb(29, 186, 248);
    text-decoration: underline;
    background-color: bisque;
    box-shadow: 10px 15px 25px rgb(255, 207, 51);
    padding: 1px;
}
a:active {
    color: black;
    opacity: 0.3;
}