@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');
html {
    scroll-behavior: smooth; /* Плавная прокрутка для всей страницы */
}
body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.6;
    background-color: #f5f7fa;
    color: #1e1e1e;
    padding-top: 70px;
    font-size: 18pt;

}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}
footer {
    padding: 20px;
    font-size: 15pt;
    text-align: left;
    font-family: sans-serif;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
}
nav {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }

nav a {
      color: #1e1e1e;
      text-decoration: none;
      margin: 0 12px;
      font-weight: 500;
      transition: color 0.2s;
    }
nav a:hover {
    color: rgb(92, 166, 92);
    text-shadow: 5px #1d5c3d;
    }
nav a:active {
    font-weight: bold;
}
main {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}
section {
    margin-bottom: 4rem;
}
h1, h2, h3 {
    font-weight: 800;
    margin-bottom: 16px;
}
p, li {
    font-size: 16px;
    margin-bottom: 16px;
}
ul {
    padding-left: 1.5rem;
}
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e8b57;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  font-size: 1.5rem;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: background 0.3s ease;
}

.scroll-top:hover {
  background: #1d5c3d;
}
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

